@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.Navbar-Link {
  @apply font-Poppins text-navLink capitalize font-medium leading-7;
}

.common-Paragraph {
  @apply font-Poppins text-navLink  font-medium leading-7 opacity-paraOPacity;
}

.common-ParagraphTwo {
  @apply font-Poppins text-navLink  font-medium leading-7 opacity-[0.7];
}
.common-ParaThree {
  @apply font-Poppins text-navLink  font-medium leading-7 
}
.common-Heading5 {
  @apply font-Poppins text-Heading5  font-medium leading-8  text-DarkBlue;
}

.common-HeadingTwo {
  @apply font-Poppins font-semibold leading-SixtyFour text-5xl;
}

.Main-Heading {
  @apply font-Poppins text-[54px] font-semibold leading-[74px] text-white w-[582px];
}

.HeadingFive{
  @apply font-Poppins text-[32px] font-medium leading-[48px]
}

.common-Btn {
  @apply h-auto w-auto py-[16px] px-[56px] rounded-[41px] bg-yellow text-black text-base capitalize font-semibold font-manrope leading-8  border-[2px] border-transparent
  hover:border-solid hover:bg-transparent hover:border-NavbarBorderColor hover:text-white transition duration-100 ;
}


.NavBtn{
  @apply h-navbarBtnHeight bg-black w-NavbarBtn rounded-navbarBtnRadius bg-transparent border-NavbarBtnBorder border-solid border-NavbarBorderColor  Navbar-Link text-white hover:border-r-transparent hover:border-transparent hover:bg-yellow transition duration-100 hover:text-black
}

.label-two {
  @apply font-Poppins text-[16px]  font-medium leading-7 capitalize ;
}

.label-one{
  @apply font-Poppins text-lg  font-medium leading-8 capitalize ;
}

.Heading-two{
  @apply  font-Poppins text-5xl font-semibold leading-[48px]
}

.label-five{
@apply font-Poppins text-2xl font-semibold leading-8 capitalize
}

.Heading-Six {
  @apply font-Poppins text-2xl font-normal leading-9
}

.Body-One {
  @apply font-Poppins text-base font-normal leading-7 opacity-[0.7]
}

.Heading-Five {
  @apply font-Poppins text-[38px] font-semibold leading-[56px]
}


.Cap-two {
  @apply font-Poppins text-xs font-semibold leading-7
}


.Heading-Three {
  @apply font-Poppins text-[38px] font-semibold leading-[56px]
}